@import './null.css';
@import 'swiper/css';

:root {
	--mainColor: #364844;
}

html,
body {
	max-width: 100vw;
}

body {
	color: var(--mainColor);
	font-size: 16px;
	line-height: 24px;
}

[class*='__container'] {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
}

.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 46.58px;
	color: var(--mainColor);
}

.text {
	font-size: 16px;
	line-height: 24px;
	color: var(--mainColor);
}
@media (max-width: 992px) {
	.mySwiper {
		margin: 0 -15px !important;
	}
}
@media (max-width: 767px) {
	.title {
		font-size: 26px;
	}
}
body.menu-open {
	overflow: hidden !important; /* Заблокировать прокрутку контента */
}
body:not(.menu-open) {
	overflow-x: hidden; /* Разрешить прокрутку контента */
}
