.footer {
	background-color: #08664f;
	padding: 60px 0;

	&__container {
		display: flex;
		align-items: center;
		@media (max-width: 992px) {
			align-items: flex-start;
		}
	}

	&__left {
		flex: 1 1 auto;
		@media (min-width: 992px) {
			display: flex;
			align-items: center;
		}
	}

	&__logo {
		img {
			width: 91px;
			height: 27px;
			object-fit: cover;
		}
		@media (min-width: 992px) {
			flex: 1 1 auto;
			margin: 0px 20px 0px 0px;
		}
		margin: 0px 0px 31px 0px;

		@media (any-hover: hover) {
			img {
				transition: transform 0.3s ease 0s;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}

	&__socials {
		display: flex;
		align-items: center;
		gap: 15px;
		padding: 0px 0px 0px 194px/ 1140px * 100%;

		@media (any-hover: hover) {
			img {
				transition: transform 0.3s ease 0s;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}

	&__list {
		@media (max-width: 992px) {
			display: grid !important;
			gap: 15px !important;
		}
	}
}
